<div class="well">

	<h4>Product detail</h4>
	
	<h2>{{product.name}}</h2>

	<h5>{{product.brand}}</h5>
	<img class="hidden-xs thumbnail-img" ng-src="{{ product.image }}" alt=""/>
	<div class="well">
		{{product.description}}
	</div>
	<p>Price: {{product.price}} €</p>
	<span ng-show="product.onSale">
			<p>Quantity: {{ selectedObject }}</p>
				<p>AAAA{{stockRange}}</p>

					<select ng-options="item for item in stockRange" class="form-control" ng-model="stockRange" ng-required="true">{{item}}</select>
				    <p><a href="#" ng-click="addToCart(product, quantity)" class="btn btn-success" role="button">ADD TO CART</a>
	</span>

</div>