body {
	font-family: "Trebuchet MS","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
	display:center;
}

.header-img {
	display:block;
	/*background: url("img/toystore_header.jpg") 0 0 no-repeat; */

	background-color: #e01e41;
	background-repeat: no-repeat;
	margin: 0px;
	height: 120px;
	background-position:cover;
	color:white;
}
.navbar.page-header{
	font-size:12px;
	color: white;
}

.footer {
  height: 30px;
  padding: 5px;
  text-align:center;
  /*background-color: #dd042b;*/
  background: -webkit-linear-gradient(#dd042b, #e22b4c); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#dd042b, #e22b4c); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#dd042b, #e22b4c); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#dd042b, #e22b4c); /* Standard syntax */

}
.footer a{
  padding-right:20px;
  color:white;
  font-size:13px;

}
.navbar-top {
  height: 40px;
}
.navbar-nav ul{
	display:inline-block;
}
 .navbar-nav>li>a { padding-top: 10px; padding-bottom: 10px; }
.navbar-brand { padding: 10px 15px; } 

.categories-nav {
	margin-left:auto;
    margin-right:auto; 
    max-width :70%;   
    float:none !important;
}
.categories-nav.navbar-nav > li > a {
        margin-top: 10px;
        margin-bottom: 10px;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 5px;
        line-height: 20px;
        color:white;
}
.categories-nav.navbar-nav > li:nth-child(1n+1) {  
  background-color: #00a0ee;
}
.categories-nav.navbar-nav > li:nth-child(1n+2) {  
  background-color: #73c026;
}
.categories-nav.navbar-nav > li:nth-child(1n+3) {  
  background-color: #de3f19;
}
.categories-nav.navbar-nav > li:nth-child(1n+4) {  
  background-color: #55068e;
}

.login-box {
 float: right;
 padding: 10px 30px 20px 0px;
}
.login-box a{

 padding-right: 30px;
 color:white;
}

.search-box {
 float: right;
 clear: right;
}

.cart{
	padding-right: 70px;
	font-size:25px;
}
.cart a{
	color:white;
}

